<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <img src="../../../assets/img/logo_spps_solido.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-4" style="opacity: .8">
        <span class="brand-text font-weight-light">S.P.P.S.</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->

        <div class="user-panel mt-3 pb-5 mb-5 d-flex">
            <div class="image">
                <img src="../../../assets/img/user8-128x128.jpg" class="img-circle elevation-2" alt="User Image">
            </div>

            <div class="btn-group" role="group" aria-label="">
                <div class="btn-group" role="group">
                    <button id="dropdownId" type="button" class="btn btn-dark dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="info">
                            <a href="#" class="d-block">Alexander Pierce del valle valle</a>
                        </div>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </div>
            </div>
            <div class="btn-group" role="group" aria-label="">
                <div class="btn-group" role="group">
                    <button id="dropdownId" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Cerrar sesion</a>
                        <a class="dropdown-item" href="#"></a>
                    </div>
                </div>
            </div>

        </div>



        <!-- SidebarSearch Form -->
        <div class="form-inline">

            <div class="image">
                <img src="../../../assets/img/user8-128x128.jpg" class="img-circle elevation-2 " alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">Alexander Pierce </a>
                <div class="btn-group" role="group" aria-label="">
                    <div class="btn-group" role="group">
                        <button id="dropdownId" type="button" class="btn btn-dark dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                        </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li *ngFor="let item_menu of menu" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon" class={{item_menu.icono}}></i>
                        <p>
                            {{item_menu.titulo}}
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li *ngFor="let item of item_menu.submenu" class="nav-item">
                            <a [routerLink]="item.url" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>{{item.titulo}}</p>
                            </a>
                        </li>

                    </ul>

                </li>

            </ul>

        </nav>
        <!-- /.sidebar-menu -->



    </div>
    <!-- /.sidebar -->
</aside>