<div class="row justify-content-center">
    <div class="col">
        <div class="">

            <div class="card ">
                <div class="card-body register-card-body">
                    <p class="login-box-msg">REGISTRAR UN NUEVO INTERNO </p>

                    <form class="p-fluid" autocomplete="off" (ngSubmit)="crearInterno()" [formGroup]="formData">
                        <!-- card 1 datos personales-->
                        <div class="card mt-3">
                            <div class="card-body register-card-body">
                                <p class="login-box-msg titulo-fondo-gris">Datos Personales</p>

                                <!-- FILA 1-->
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <label for="fecha-ingreso-input">Fecha Ingreso</label>
                                        <!-- <input id="fecha-ingreso-input" type="text" pInputText formControlName="fecha_ingreso"> -->
                                        <input formControlName="fecha_ingreso" type="text" class="form-control" placeholder="primer apellido" [class.is-invalid]="">
                                    </div>

                                    <div class="col-12  col-lg-4">

                                        <label for="">Establecimiento Procedencia</label>
                                        <select formControlName="establecimiento_procedencia_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let establecimiento_procedencia of drop_establecimiento_procedencia" [value]="establecimiento_procedencia.id_establecimiento_procedencia">{{establecimiento_procedencia.establecimiento_procedencia}}</option> 
                                        </select>
                                    </div>

                                </div>
                                <!-- FILA 1-->

                                <!-- FILA 2-->
                                <div class="row">
                                    <div class="col-5 col-lg-3">
                                        <label for="prontuario-input">Prontuario</label>
                                        <!-- <input id="prontuario-input" type="text" pInput formControlName="prontuario" >  -->
                                        <p-inputNumber id="prontuario-input" formControlName="prontuario"></p-inputNumber>

                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <label for="prontuario-policial-input">Prontuario Policial</label>
                                        <input id="prontuario-policial-input" type="text" pInputText formControlName="prontuario_policial">

                                    </div>

                                    <div class="col-5 col-lg-3">
                                        <label for="dni-input">DNI</label>
                                        <p-inputNumber id="dni-input" formControlName="dni"></p-inputNumber>

                                    </div>
                                </div>
                                <!-- FIN FILA 2-->

                                <!-- FIN FILA 3-->
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <label for="apellido_1-input">Apellido 1</label>
                                        <input id="apellido_1-input" type="text" pInputText formControlName="apellido_1">
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <label for="apellido_2-input">Apellido 2</label>
                                        <input id="apellido_2-input" type="text" pInputText formControlName="apellido_2">

                                    </div>
                                </div>
                                <!-- FIN FILA 3-->

                                <!-- FILA 4-->
                                <div class="row ">
                                    <div class="col-12 col-lg-4">
                                        <label for="nombre_1-input">Nombre 1</label>
                                        <input id="nombre_1-input" type="text" pInputText formControlName="nombre_1">

                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <label for="nombre_2-input">Nombre 2</label>
                                        <input id="nombre_2-input" type="text" pInputText formControlName="nombre_2">

                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <label for="nombre_3-input">Nombre 3</label>
                                        <input id="nombre_3-input" type="text" pInputText formControlName="nombre_3">

                                    </div>
                                </div>
                                <!-- FIN FILA 4-->

                                <!-- FILA 5-->
                                <div class="row ">

                                    <div class="col-12 col-lg-6">
                                        <label for="alias-input">Alias</label>
                                        <input id="alias-input" type="text" pInputText formControlName="alias">

                                    </div>
                                </div>
                                <!-- FIN FILA 5-->
                            </div>
                            <!-- /.form-box -->
                        </div>
                        <!-- fin card 1 datos personales -->


                        <!-- card 2 caracteristicas personales-->
                        <div class="card mt-3">
                            <div class="card-body register-card-body">
                                <p class="login-box-msg titulo-fondo-gris">Caracteristicas Personales</p>

                                <!-- FILA 1-->
                                <div class="row ">
                                    <div class="col-4">

                                        <label for="">Ojos Color</label>
                                        <select formControlName="ojos_color_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let ojos_color of drop_ojos_color" [value]="ojos_color.id_ojos_color">{{ojos_color.ojos_color}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-4">

                                        <label for="">Ojos Tamaño</label>
                                        <select formControlName="ojos_tamanio_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let ojos_tamanio of drop_ojos_tamanio" [value]="ojos_tamanio.id_ojos_tamanio">{{ojos_tamanio.ojos_tamanio}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-4 ">
                                        <label for="">Pelo Tipo</label>
                                        <select formControlName="pelo_tipo_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let pelo_tipo of drop_pelo_tipo" [value]="pelo_tipo.id_pelo_tipo">{{pelo_tipo.pelo_tipo}}</option> 
                                        </select>
                                    </div>


                                </div>
                                <!-- FIN FILA 1-->

                                <!-- FILA 2-->
                                <div class="row ">
                                    <div class="col-4 ">
                                        <label for="">Nariz Forma</label>
                                        <select formControlName="nariz_forma_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let nariz_forma of drop_nariz_forma" [value]="nariz_forma.id_nariz_forma">{{nariz_forma.nariz_forma}}</option> 
                                        </select>
                                    </div>


                                    <div class="col-4  ">
                                        <label for="">Nariz Tamaño</label>
                                        <select formControlName="nariz_tamanio_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let nariz_tamanio of drop_nariz_tamanio" [value]="nariz_tamanio.id_nariz_tamanio">{{nariz_tamanio.nariz_tamanio}}</option> 
                                        </select>
                                    </div>


                                </div>
                                <!-- FIN FILA 2-->

                                <!-- FILA 3-->
                                <div class="row ">
                                    <div class="col-4 ">
                                        <label for="">Piel</label>
                                        <select formControlName="piel_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let piel of drop_piel" [value]="piel.id_piel">{{piel.piel}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <label for="marca-corporal-input">Marca Corporal</label>
                                        <input id="marca-corporal-input" type="text" pInputText formControlName="marca_corporal">


                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <label for="talla-input">Talla</label>
                                        <input id="talla-input" type="text" pInputText formControlName="talla">

                                    </div>

                                </div>
                                <!-- FIN FILA 3-->
                            </div>
                            <!-- /.form-box -->
                        </div>
                        <!-- fin card 2 caracteristicas personales -->


                        <!-- card 3 datos filiatorios-->
                        <div class="card mt-3">
                            <div class="card-body register-card-body">
                                <p class="login-box-msg titulo-fondo-gris">Datos Filiatorios</p>
                                <!-- FILA 1-->
                                <div class="row ">
                                    <div class="col-5 col-lg-3 ">
                                        <label for="">Sexo</label>
                                        <select formControlName="sexo_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let sexo of drop_sexo" [value]="sexo.id_sexo">{{sexo.sexo}}</option> 
                                        </select>

                                    </div>

                                    <div class="col-5 col-lg-3 ">
                                        <label for="">Estado Civil</label>
                                        <select formControlName="estado_civil_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let estado_civil of drop_estado_civil" [value]="estado_civil.id_estado_civil">{{estado_civil.estado_civil}}</option> 
                                        </select>
                                    </div>
                                </div>
                                <!-- FIN FILA 1-->

                                <!-- FILA 2-->
                                <div class="row ">
                                    <div class="col-4 ">
                                        <label for="">Nacionalidad</label>
                                        <select formControlName="nacionalidad_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let nacionalidad of drop_nacionalidad" [value]="nacionalidad.id_nacionalidad">{{nacionalidad.nacionalidad}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-2 ">
                                        <label for="">Zona Residencia</label>
                                        <select formControlName="zona_residencia_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let zona_residencia of drop_zona_residencia" [value]="zona_residencia.id_zona_residencia">{{zona_residencia.zona_residencia}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <label for="domicilio-input">domicilio</label>
                                        <input id="domicilio-input" type="text" pInputText formControlName="domicilio">

                                    </div>
                                </div>

                                <!-- FIN FILA 2-->

                                <!-- FILA 3-->
                                <div class="row ">

                                    <div class="col-4 ">
                                        <!-- <label for="departamento-input">Departamento</label>
                                        <p-dropdown [options]="drop_departamento" id="departamento-input" [virtualScroll]="true" formControlName="departamento_id"></p-dropdown> -->
                                        <label for="">Departamento</label>
                                        <select formControlName="departamento_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let departamento of drop_departamento" [value]="departamento.id_departamento">{{departamento.departamento}}</option> 
                                        </select>
                                    </div>


                                    <div class="col-7 col-lg-3 ">
                                        <label for="telefono-input">telefono</label>
                                        <input id="telefono-input" type="text" pInputText formControlName="telefono">

                                    </div>
                                </div>
                                <!-- FIN FILA 3-->

                                <!-- FILA 4-->
                                <div class="row ">
                                    <div class="col-6 col-lg-4 ">
                                        <label for="fecha_nacimiento-input">Fecha Nacimiento</label>
                                        <input id="fecha_nacimiento-input" type="text" pInputText formControlName="fecha_nacimiento">

                                    </div>

                                    <div class="col-6 col-lg-4">
                                        <label for="">Departamento Nacimiento</label>
                                        <select formControlName="departamento_nacimiento_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let departamento_nacimiento of drop_departamento" [value]="departamento_nacimiento.id_departamento">{{departamento_nacimiento.departamento}}</option> 
                                        </select>

                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <label for="lugar_nacimiento-input">Lugar Nacimiento</label>
                                        <input id="lugar_nacimiento-input" type="text" pInputText formControlName="lugar_nacimiento">

                                    </div>
                                </div>

                                <!-- FIN FILA 4-->


                                <!-- FILA 5-->
                                <div class="row ">
                                    <div class="col-12 col-lg-4 ">
                                        <label for="padre-input">Padre</label>
                                        <input id="padre-input" type="text" pInputText formControlName="padre">

                                    </div>

                                    <div class="col-6 col-lg-4">
                                        <label for="madre-input">Madre</label>
                                        <input id="madre-input" type="text" pInputText formControlName="madre">

                                    </div>
                                    <div class="col-12 col-lg-4 ">
                                        <label for="parientes-input">Parientes</label>
                                        <input id="parientes-input" type="text" pInputText formControlName="parientes">

                                    </div>
                                </div>

                                <!-- FIN FILA 5-->

                                <!-- FILA 6-->
                                <div class="row ">
                                    <div class="col-12 col-lg-4 ">
                                        <label for="referente_emergencia-input">Referente Emergencia</label>
                                        <input id="referente_emergencia-input" type="text" pInputText formControlName="referente_emergencia">

                                    </div>

                                    <div class="col-4 ">
                                        <label for="">Nivel Educacion_id</label>
                                        <select formControlName="nivel_educacion_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let nivel_educacion of drop_nivel_educacion" [value]="nivel_educacion.id_nivel_educacion">{{nivel_educacion.nivel_educacion}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-12 col-lg-4 ">
                                        <label for="profesion-input">Profesion</label>
                                        <input id="profesion-input" type="text" pInputText formControlName="profesion">


                                    </div>
                                </div>

                                <!-- FIN FILA 6-->

                                <!-- FILA 7-->
                                <div class="row ">
                                    <div class="col-4 ">
                                        <label for="">Ultimo Oficio</label>
                                        <select formControlName="ultimo_oficio_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let ultimo_oficio of drop_oficio" [value]="ultimo_oficio.id_oficio">{{ultimo_oficio.oficio}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-4">
                                        <label for="">Religion</label>
                                        <select formControlName="religion_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let religion of drop_religion" [value]="religion.id_religion">{{religion.religion}}</option> 
                                        </select>
                                    </div>

                                </div>
                                <!-- FIN FILA 7-->

                            </div>
                            <!-- /.form-box -->
                        </div>
                        <!-- fin card 3 datos filiatorios -->

                        <!-- card 4 datos procesales-->
                        <div class="card mt-3">
                            <div class="card-body register-card-body">
                                <p class="login-box-msg titulo-fondo-gris">Datos Procesales</p>
                                <!-- FILA 1-->
                                <div class="row ">
                                    <div class="col-12 col-lg-6 ">
                                        <label for="causa-penal-input">Causa Penal</label>
                                        <input id="causa-penal-input" type="text" pInputText formControlName="causa_penal">

                                    </div>

                                    <div class="col-6 ">
                                        <label for="">Tipo Condena</label>
                                        <select formControlName="tipo_condena_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let tipo_condena of drop_tipo_condena" [value]="tipo_condena.id_tipo_condena">{{tipo_condena.tipo_condena}}</option> 
                                        </select>
                                    </div>



                                </div>
                                <!-- FIN FILA 1-->

                                <!-- FILA 2-->
                                <div class="row ">

                                    <div class="col-12 col-lg-3 ">
                                        <label for="expediente-numero-input">Expediente Numero</label>
                                        <input id="expediente-numero-input" type="text" pInputText formControlName="expediente_numero">

                                    </div>

                                    <div class="col-12 col-lg-3 ">
                                        <label for="expediente-policial-input">Expediente Policial</label>
                                        <input id="expediente-policial-input" type="text" pInputText formControlName="expediente_policial">

                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <label for="">Tipo Delito</label>
                                        <select formControlName="tipo_delito_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let tipo_delito of drop_tipo_delito" [value]="tipo_delito.id_tipo_delito">{{tipo_delito.tipo_delito}}</option> 
                                        </select>
                                    </div>

                                </div>
                                <!-- FIN FILA 2-->

                                <!-- FILA 3-->
                                <div class="row ">
                                    <div class="col-4 ">
                                        <label for="">Estado Procesal</label>
                                        <select formControlName="estado_procesal_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let estado_procesal of drop_estado_procesal" [value]="estado_procesal.id_estado_procesal">{{estado_procesal.estado_procesal}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-12  col-lg-4 ">
                                        <label for="">Reingreso</label>
                                        <select formControlName="reingreso_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let reingreso of drop_reingreso" [value]="reingreso.id_reingreso">{{reingreso.reingreso}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-12 col-lg-2 ">
                                        <label for="reingreso-num-input">Reingreso Numero</label>
                                        <input id="reingreso-num-input" type="text" pInputText formControlName="reingreso_num">

                                    </div>


                                </div>
                                <!-- FIN FILA 3-->

                                <!-- FILA 4-->
                                <div class="row ">

                                    <div class="col-4 ">
                                        <label for="">Reincidencia</label>
                                        <select formControlName="reincidencia_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let reincidencia of drop_reincidencia" [value]="reincidencia.id_reincidencia">{{reincidencia.reincidencia}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-12 col-lg-3 ">
                                        <label for="reincidencia_num-input">Reincidencia Numero</label>
                                        <input id="reincidencia_num-input" type="text" pInputText formControlName="reincidencia_num">

                                    </div>

                                    <div class="col-5 ">
                                        <label for="">Juzgado</label>
                                        <select formControlName="juzgado_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let juzgado of drop_juzgado" [value]="juzgado.id_juzgado">{{juzgado.juzgado}}</option> 
                                        </select>

                                    </div>

                                </div>
                                <!-- FIN FILA 4-->

                                <!-- FILA 5-->
                                <div class="row ">
                                    <div class="col-4">
                                        <label for="">Jurisdiccion</label>
                                        <select formControlName="jurisdiccion_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let jurisdiccion of drop_jurisdiccion" [value]="jurisdiccion.id_jurisdiccion">{{jurisdiccion.jurisdiccion}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-4 ">
                                        <label for="">Jurisdiccion Provincia</label>
                                        <select formControlName="jurisdiccion_provinicia_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let jurisdiccion_provinicia of drop_provincia" [value]="jurisdiccion_provinicia.id_provincia">{{jurisdiccion_provinicia.provincia}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-12 col-lg-4 ">
                                        <label for="fecha_detencion-input">Fecha Detencion</label>
                                        <input id="fecha_detencion-input" type="text" pInputText formControlName="fecha_detencion">

                                    </div>

                                </div>
                                <!-- FIN FILA 5-->

                                <!-- FILA 6-->
                                <div class="row ">
                                    <div class="col-12 col-lg-6">
                                        <label for="detenciones-input">Detenciones</label>
                                        <input id="detenciones-input" type="text" pInputText formControlName="detenciones">

                                    </div>

                                </div>
                                <!-- FIN FILA 6-->

                                <!-- FILA 7-->
                                <div class="row ">
                                    <div class="col-5 ">
                                        <label for="">Juzgado Condena</label>
                                        <select formControlName="condena_juzgado_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let condena_juzgado of drop_juzgado" [value]="condena_juzgado.id_juzgado">{{condena_juzgado.juzgado}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-12 col-lg-2">
                                        <label for="total_anios-input">Total Años</label>
                                        <input id="total_anios-input" type="text" pInputText formControlName="total_anios">

                                    </div>

                                    <div class="col-12 col-lg-2">
                                        <label for="total_meses-input">Total Meses</label>
                                        <input id="total_meses-input" type="text" pInputText formControlName="total_meses">

                                    </div>

                                    <div class="col-12 col-lg-2 ">
                                        <label for="total_dias-input">Total Dias</label>
                                        <input id="total_dias-input" type="text" pInputText formControlName="total_dias">

                                    </div>

                                </div>
                                <!-- FIN FILA 7-->

                                <!-- FILA 8-->
                                <div class="row ">




                                </div>
                                <!-- FIN FILA 8-->

                                <!-- FILA 9-->
                                <div class="row ">
                                    <div class="col-12 col-lg-4 ">
                                        <label for="computo-input">Computo</label>
                                        <input id="computo-input" type="text" pInputText formControlName="computo">

                                    </div>

                                    <div class="col-12 col-lg-4 ">
                                        <label for="fecha_cumple-input">Fecha Cumple</label>
                                        <input id="fecha_cumple-input" type="text" pInputText formControlName="fecha_cumple">

                                    </div>
                                </div>
                                <!-- FIN FILA 8-->

                                <!-- FILA 9-->
                                <div class="row ">
                                    <div class="col-4">
                                        <label for="">Tipo Defensor</label>
                                        <select formControlName="tipo_defensor_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let tipo_defensor of drop_tipo_defensor" [value]="tipo_defensor.id_tipo_defensor">{{tipo_defensor.tipo_defensor}}</option> 
                                        </select>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <label for="abogado-input">Abogado</label>
                                        <input id="abogado-input" type="text" pInputText formControlName="abogado">

                                    </div>

                                    <div class="col-4 ">
                                        <label for="">Pabellon</label>
                                        <select formControlName="pabellon_id" class="form-control" [class.is-invalid]=""> 
                                            <option *ngFor="let pabellon of drop_pabellon" [value]="pabellon.id_pabellon">{{pabellon.pabellon}}</option> 
                                        </select>
                                    </div>

                                </div>
                                <!-- FIN FILA 9-->
                            </div>
                            <!-- /.form-box -->
                        </div>
                        <!-- fin card 4 datos procesales -->





                        <!-- <div class="row">
                            <div class="col-12 text-danger">
                                <p *ngIf="campoNoValido('correo')">El Correo es obligatorio y debe ser valido</p>
                            </div>
                            <div class="col-12 text-danger">
                                <p *ngIf="campoNoValido('dni')">El DNI es obligatorio y debe ser valido</p>
                            </div>
                            <div class="col-12 text-danger">
                                <p *ngIf="campoNoValido('nombre')">El Nombre es obligatorio y debe ser valido</p>
                            </div>
                            <div class="col-12 text-danger">
                                <p *ngIf="campoNoValido('apellido')">El Apellido es obligatorio y debe ser valido</p>
                            </div>
                            <div class="col-12 text-danger">
                                <p *ngIf="!contraseniaValida()">Las contraseñas deben coincidir</p>
                            </div>

                        </div> -->



                        <div class="row mt-4">
                            <!-- /.col -->
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Guardar Interno</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>


                </div>
                <!-- /.form-box -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.register-box -->
    </div>
    <!-- /fin columna principal -->
</div>
<!-- /fin fila principal -->