<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista de Usuarios</h3>
            </div>
            <div class="card-body">

                <!-- <p-table [value]="lista_usuarios" [columns]="cols" [paginator]="true" [rows]="5" [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex">
                            <button type="button" pButton pRipple icon="pi pi-file-o" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-secondary p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-filter" class="p-button-info p-ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>

                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                            <th>Accion</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                            <td>
                                <button pButton type="button" routerLink="/dashboard/editar-usuario/4" label="Editar"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table> -->

                <p-table id="htmlData" #dt [value]="lista_usuarios" [columns]="cols" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [scrollable]="true" [style]="{width:'100%'}" selectionMode="multiple" [(selection)]="selectedUsuarios">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex">
                            <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf_2()" class="p-button-secondary p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-filter" class="p-button-info p-ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>

                        </div>

                    </ng-template>
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col style="width:100px">
                            <col style="width:100px">
                            <col style="width:200px">
                            <col style="width:250px">
                            <col style="width:250px">
                            <col style="width:250px">
                            <col style="width:200px">

                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Accion</th>
                            <th>Id</th>
                            <th>Foto</th>
                            <th>Correo </th>
                            <th>Nombre </th>
                            <th>Apellido</th>
                            <th>Unidad</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-usuario>
                        <tr>
                            <td>
                                <button pButton type="button" routerLink="/dashboard/editar-usuario/{{usuario.id_usuario}}" label="Editar"></button>
                            </td>
                            <td>{{usuario.id_usuario}}</td>
                            <td><img [src]="usuario.foto? baseUrlImg + usuario.foto : noImagen" [alt]="usuario.foto" style="border-radius: 150px;" width="50" class="p-shadow-4" /></td>
                            <td>{{usuario.correo}}</td>
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.apellido}}</td>
                            <td>{{usuario.unidad.unidad}}</td>

                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>
</div>