button {
    margin: 5px;
    top: 5px;
}

card {
    bottom: 5px;
}

label {
    margin-top: 10px;
    margin-bottom: 1px;
}

.titulo-fondo-gris {
    background-color: #3e474e;
    height: 30px;
}

.fondo-gris {
    background-color: #3e474e;
}


/**
input {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

p-inputNumber {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
*/